{% extends "base.html" %}
{% block content %}
<div class="container">    
    <h1 style="margin-top: 80px; font-size: 25px;">✏️ Bewerbung bearbeiten</h1>
    <form method="POST">
        <div style="display: flex; flex-direction: column; gap: 15px; margin-bottom: 20px; min-height: 196px; margin-top: 40px;">
            <input name="firma" value="{{ job.firma }}" required style="flex: 1; min-height: 28px; background: #ecf6f9; font-size: 16px;">
            <input name="position" value="{{ job.position }}" required style="flex: 1; min-height: 28px; background: #ecf6f9; font-size: 16px;">
            <select name="status" style="flex: 1; min-height: 28px;background: #ecf6f9; font-size: 16px;">
                <option value="offen" {% if job.status == 'offen' %}selected{% endif %}>offen</option>
                <option value="interview" {% if job.status == 'interview' %}selected{% endif %}>interview</option>
                <option value="zusage" {% if job.status == 'zusage' %}selected{% endif %}>zusage</option>
                <option value="abgelehnt" {% if job.status == 'abgelehnt' %}selected{% endif %}>abgelehnt</option>
            </select>
        </div>
        <div class="form-row">
            <button type="submit">Speichern</button>
            <a href="{{ url_for('index') }}"><button type="button">Abbrechen</button></a>
        </div>
    </form>
</div>
{% endblock %}



